{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="center-div">
        <h1><b>Welcome to the UCSD Course Recommender!</b></h1>
        <br><br>
        <!-- Page One: Selecting Completed Courses-->
        <div style="height: 35rem;">
            <!-- Page One: Selecting Ideal Difficulty-->
            <div class="center-div page" id="page-one">
                <h4>Step 1. Select your preferred course difficulty (defined by hours per week)</h4>
                <br><br>
                <div style="display: flex;">
                    <div style="flex: 1;">
                        <h3>Easy</h3>
                        <img src={% static '1.png'%} class="unselected" name="1" style="max-width: 25rem; margin-bottom: 0.75rem;"></img>
                        <br> 
                        <i>&lt;6 hours per week</i>
                    </div>
                    <div style="flex: 1;">
                        <h3>Medium</h3>
                        <img src={% static '2.png'%} class="unselected" name="2" style="max-width: 25rem; margin-bottom: 0.75rem;"></img>
                        <br>      
                        <i>6-9 hours per week</i>
                    </div>
                    <div style="flex: 1;">
                        <h3>Hard</h3>
                        <img src={% static '3.png'%} class="unselected" name="3" style="max-width: 25rem; margin-bottom: 0.75rem;"></img>
                        <br>               
                        <i>9-12 hours per week</i>
                    </div>
                    <div style="flex: 1;">
                        <h3>Death</h3>
                        <img src={% static '4.png'%} class="unselected" name="4" style="max-width: 25rem; margin-bottom: 0.75rem;"></img>
                        <br>               
                        <i>&gt;13 hours per week</i>
                    </div>
                </div>
                <br>
            </div>
            <!-- Page Two: Selecting Desired Units-->
            <div class="center-div invisible page" style="max-width: 40rem;" id="page-two">
                <h4>Step 2. Select your ideal number of units per course</h4>
                <br><br><br>
                <div style="display: flex;">
                    <div style="flex: 1;">
                        <h3>Two Units</h3>
                        <btn class="btn btn-primary unselected unit-button" name="2">2</btn>
                    </div>
                    <div style="flex: 1">
                    </div>
                    <div style="flex: 1;">
                        <h3>Four Units</h3>
                        <btn class="btn btn-primary unselected unit-button" name="4">4</btn>
                    </div>
                </div>
                <br>
            </div>
            <!-- Page Three: Selecting Topics of Interest-->
            <div class="center-div invisible page" style="max-width: 40rem;" id="page-three">
                <h4 style="margin-bottom: 0.75rem; width: 100%;">Step 3. Select categories that you're interested in</h4>
                <br><br>
                <div style="display: flex">
                    <div style="flex: 1; font-size: 1.25rem; text-align: left;">
                        <input type="checkbox" id="software_engineering" value="Software Engineering">
                        <label for="software_engineering">Software Engineering</label><br>
                        <input type="checkbox" id="web_development" value="Web Development">
                        <label for="web_development">Web Development</label><br>
                        <input type="checkbox" id="machine_learning" value="Machine Learning">
                        <label for="machine_learning">Machine Learning</label><br>
                        <input type="checkbox" id="data_science" value="Data Science">
                        <label for="data_science">Data Science</label><br>
                        <input type="checkbox" id="databases" value="Databases">
                        <label for="databases">Databases</label><br>
                        <input type="checkbox" id="math" value="Math">
                        <label for="math">Math</label><br>
                        <input type="checkbox" id="architecture" value="Architecture">
                        <label for="architecture">Architecture</label><br>
                        <input type="checkbox" id="theory" value="Theory">
                        <label for="theory">Theory</label><br>
                    </div>
                    <div style="text-align: right;">
                    <div style="flex: 1; font-size: 1.25rem; text-align: left;">
                        <input type="checkbox" id="computer_vision" value="Computer Vision">
                        <label for="computer_vision">Computer Vision</label><br>
                        <input type="checkbox" id="design_interaction" value="Design & Interaction">
                        <label for="design_interaction">Design & Interaction</label><br>
                        <input type="checkbox" id="research" value="Research">
                        <label for="research">Research</label><br>
                        <input type="checkbox" id="group_project" value="Group Project">
                        <label for="group_project">Group Project</label><br>
                        <input type="checkbox" id="biology" value="Biology">
                        <label for="biology">Biology</label><br>
                        <input type="checkbox" id="education_teaching" value="Education & Teaching">
                        <label for="education_teaching">Education & Teaching</label><br>
                        <input type="checkbox" id="management" value="Management">
                        <label for="management">Management</label><br>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="/submit" id="submit_form" method="GET">
            <input name="selected_difficulties" type="hidden">
            <input name="selected_units" type="hidden">
            <input name="total_categories" type="hidden">
            <button class="btn btn-primary" id="previous-button" style="margin-right: 2rem; width: 10rem;" type="button" disabled><h4>Previous</h4></button>
            <button class="btn btn-primary" id="next-button" style="margin-left: 2rem; width: 10rem;" type="button" disabled><h4>Next</h4></button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            // Page 1 JS
            var selected_difficulties = [];
            $("img").on('click', function(){
                if ($(this).attr("id") != "go_bears"){
                    let difficulty = $(this).attr("name")
                    if ($(this).hasClass("unselected")){
                        $(this).removeClass("unselected");
                        $(this).addClass("selected");
                        selected_difficulties.push(difficulty);
                        $("#next-button").prop("disabled",false);
                    }
                    else {
                        $(this).removeClass("selected");
                        $(this).addClass("unselected");
                        let index = selected_difficulties.indexOf(difficulty);
                        if (index > -1) {
                            selected_difficulties.splice(index, 1);
                        }
                        if (selected_difficulties.length == 0){
                            $("#next-button").prop("disabled",true);
                        }
                    }
                    $("#submit_form input[name=selected_difficulties]").val(selected_difficulties);
                }
            });
            var selected_units = [];
            // Page 2 JS
            $("btn").on('click', function(){
                let unit = $(this).attr("name")
                if ($(this).hasClass("unselected")){
                    $(this).removeClass("unselected");
                    $(this).addClass("selected");
                    selected_units.push(unit);
                    $("#next-button").prop("disabled",false);
                }
                else {
                    $(this).removeClass("selected");
                    $(this).addClass("unselected");
                    let index = selected_units.indexOf(unit);
                    if (index > -1) {
                        selected_units.splice(index, 1);
                    }
                    if (selected_units.length == 0){
                        $("#next-button").prop("disabled",true);
                    }
                }
                $("#submit_form input[name=selected_units]").val(selected_units);
            });

            // Page 3 JS
            var total_categories = [];
            $("input").on("click", function(event){
                let category = $(this).attr("value");
                if (!total_categories.includes(category)){
                    total_categories.push(category);
                    $("#next-button").prop("disabled",false);
                }
                else {
                    let index = total_categories.indexOf(category);
                    if (index > -1) {
                        total_categories.splice(index, 1);
                    }
                }
                if (total_categories.length == 0){
                    $("#next-button").prop("disabled",true);
                }
                $("#submit_form input[name=total_categories]").val(total_categories);
            });

            // Page navigation
            var current_page = 1;
            var time = 250;
            $("#next-button").on("click", function(){
                if($(this).hasClass("processing"))
                    return;                
                $(this).addClass("processing");
                $("#previous-button").prop('disabled', false);
                if (current_page == 1){ 
                    var fade_out_page_id = "page-one";
                    var fade_in_page_id = "page-two";
                    if (selected_units.length == 0)
                        $("#next-button").prop("disabled",true);
                }
                else if (current_page == 2){
                    var fade_out_page_id = "page-two";
                    var fade_in_page_id = "page-three";
                    if (total_categories.length == 0)
                        $("#next-button").prop("disabled",true);
                    $("#next-button").html("<h4>Finish</h4>");
                    $("#next-button").removeAttr("type").attr("type", "submit");
                    event.preventDefault();
                }
                $("#" + fade_out_page_id).fadeOut(time);                
                setTimeout(function() {
                    $("#" + fade_in_page_id).hide();
                    $("#" + fade_in_page_id).removeClass('invisible');
                    $("#" + fade_in_page_id).fadeIn(time);
                    $('#next-button').removeClass("processing");
                }, time);
                current_page++;
            });
            $("#previous-button").on("click", function(){
                if($(this).hasClass("processing"))
                    return;                
                $(this).addClass("processing");
                if (current_page == 2){ 
                    var fade_out_page_id = "page-two";
                    var fade_in_page_id = "page-one";
                    $("#previous-button").prop('disabled', true);
                    $("#next-button").prop("disabled",false);
                }
                else if (current_page == 3){ 
                    var fade_out_page_id = "page-three";
                    var fade_in_page_id = "page-two";
                    $("#next-button").html("<h4>Next</h4>");
                    $("#next-button").removeAttr("type").attr("type", "button");
                }
                $("#" + fade_out_page_id).fadeOut(time);                
                setTimeout(function() {
                    $("#" + fade_in_page_id).hide();
                    $("#" + fade_in_page_id).removeClass('invisible');
                    $("#" + fade_in_page_id).fadeIn(time);
                    $('#previous-button').removeClass("processing");
                }, time);
                current_page--;
            });
        });        
    </script>
{% endblock %}